@model SistControleVendas.Models.FormaPagto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Forma de Pagamento</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormaPagtoID" />
            <div class="form-group">
                <label asp-for="CartaoCred" class="control-label"></label>
                <input asp-for="CartaoCred" class="form-control" />
                <span asp-validation-for="CartaoCred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartaoDeb" class="control-label"></label>
                <input asp-for="CartaoDeb" class="form-control" />
                <span asp-validation-for="CartaoDeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pix" class="control-label"></label>
                <input asp-for="Pix" class="form-control" />
                <span asp-validation-for="Pix" class="text-danger"></span>
            </div>

            <p> </p>

            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>

<p> </p>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
