@model SistControleVendas.Models.Venda

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Venda</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColaboradorID" class="control-label"></label>
                <input asp-for="ColaboradorID" class="form-control" />
                <span asp-validation-for="ColaboradorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <input asp-for="ClienteID" class="form-control" />
                <span asp-validation-for="ClienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVenda" class="control-label"></label>
                <input asp-for="DataVenda" class="form-control" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto" class="control-label"></label>
                <input asp-for="Produto" class="form-control" />
                <span asp-validation-for="Produto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qtde" class="control-label"></label>
                <input asp-for="Qtde" class="form-control" />
                <span asp-validation-for="Qtde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalVenda" class="control-label"></label>
                <input asp-for="TotalVenda" class="form-control" />
                <span asp-validation-for="TotalVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPgto" class="control-label"></label>
                <input asp-for="FormaPgto" class="form-control" />
                <span asp-validation-for="FormaPgto" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<p> </p>

<div>
    <a asp-action="Index" class="btn btn-outline-info" type="submit">Criar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
