@model SistControleVendas.Models.Login

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginNome" class="control-label"></label>
                <input asp-for="LoginNome" class="form-control" />
                <span asp-validation-for="LoginNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelAcesso" class="control-label"></label>
                <input asp-for="NivelAcesso" class="form-control" />
                <span asp-validation-for="NivelAcesso" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<p> </p>

<div>
    <a asp-action="Index" class="btn btn-outline-info" type="submit">Criar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
