@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo a Avanade Shopping</h1>
    <p>Saiba mais sobre a Avanade <a href="https://www.avanade.com/pt-pt"> acessando aqui</a></p>
</div>
